section.hero-section.home-3
    .container
        h2.title.title_small.title_small-white Khách hàng cá nhân
        .block-mobile.reveal.active
            .top-block.reveal.active
                h3 Sản phẩm tiền gửi
                .list-block.d-flex.align-items-center
                    .list-block_item
                        .list-block_item__img
                            a(href='')
                                img(alt='Tiền gửi tiết kiệm Online' src='./images/customer-1.jpg')
                        .list-block_item__content
                            .desc
                                a(href='') Tiền gửi tiết kiệm Online
                                p Tiền gửi tiết kiệm Online
                            a.btn-small(href='') Đăng ký
                    .list-block_item
                        .list-block_item__img
                            a(href='')
                                img(alt='Tiết kiệm có kỳ hạn thông thường' src='./images/customer-2.jpg')
                        .list-block_item__content
                            .desc
                                a(href='') Tiết kiệm có kỳ hạn thông thường
                                p Tiết kiệm có kỳ hạn thông thường
                            a.btn-small(href='') Đăng ký
            .middle-block.reveal.active
                h3 Bảo hiểm
                .middle-block_item
                    .middle-block_item__img
                        a(href='')
                            img(alt='Bảo hiểm liên kết đầu tư' src='./images/customer-3.jpg')
                    .middle-block_item__content
                        .desc
                            a(href='') Bảo hiểm liên kết đầu tư
                            p
                                | Sự kết hợp giữa tích lũy đầu tư và bảo vệ tài chính được xây dựng trên nền tảng tính linh hoạt, chủ động, toàn diện và phù hợp với mọi khả năng tài chính của khách hàng
                        a.btn.btn-login(href='')
                            span Tham gia ngay
            .bottom-block.reveal.active
                h3 Sản phẩm vay
                .list-block.d-flex
                    .list-block_item
                        .list-block_item__img
                            a(href='')
                                img(alt='Vay tiêu dùng có tài sản đảm bảo ' src='./images/customer-4.jpg')
                        .list-block_item__content
                            .desc
                                a.lcl.lcl-2(href='') Vay tiêu dùng có tài sản đảm bảo 
                            a.btn-small(href='') Đăng ký
                    .list-block_item
                        .list-block_item__img
                            a(href='')
                                img(alt='Vay tiêu dùng không tài sản bảo đảm' src='./images/customer-5.jpg')
                        .list-block_item__content
                            .desc
                                a.lcl.lcl-2(href='') Vay tiêu dùng không tài sản bảo đảm
                            a.btn-small(href='') Đăng ký
                    .list-block_item
                        .list-item_wrapper
                            .list-block_item__img
                                a(href='')
                                    img(alt='Vay bổ sung vốn lưu động' src='./images/customer-6.jpg')
                            .list-block_item__content
                                .desc
                                    a.lcl.lcl-2(href='') Vay bổ sung vốn lưu động
                                a.btn-small(href='') Đăng ký
        a.view-all.mt-3(href='') Xem tất cả
