section.hero-banner
	.swiper.myBanner
		.swiper-wrapper
			.swiper-slide
				.slide-inner
					a.slide-inner__img(href="") 
						img(src="./images/banner/b-1.jpg", alt="")
					.product-list-slide 
						ul
							li
								a(href="") 
									p TK thanh toán
										br 
										span eKYC
									em.material-icons chevron_right
							li
								a(href="") 
									p 
										span Mở thẻ 
										|NAPAS 
										br
										|VISA/Master
									em.material-icons chevron_right
							li
								a(href="") 
									p 
										span Vay
										br
										|trực tuyến
									em.material-icons chevron_right
			.swiper-slide
				.slide-inner
					a.slide-inner__img(href="") 
						img(src="./images/banner/b-2.jpg", alt="")
					.product-list-slide 
						ul
							li
								a(href="") 
									p 
										span Tài khoản 
										br
										|doanh nghiệp
									em.material-icons chevron_right
							li
								a(href="") 
									p 
										span Tín dụng 
										br
										|doanh nghiệp
									em.material-icons chevron_right
							li
								a(href="") 
									p 
										|Công cụ
										br
										span eCMB
										
									em.material-icons chevron_right
			.swiper-slide
				.slide-inner
					a.slide-inner__img(href="") 
						img(src="./images/banner/b-3.jpg", alt="")
					.product-list-slide 
						ul
							li
								a(href="") 
									p Dịch vụ
										br
										span Trái phiếu
									em.material-icons chevron_right
							li
								a(href="") 
									p Mua bán
										br
										span Vàng/ngoại tệ
									em.material-icons chevron_right
							li
								a(href="") 
									p Mua gói
										br
										span Bảo hiểm
									em.material-icons chevron_right
		.swiper-pagination
	.marquee
		.marquee-inner
			span 🔥 Miễn phí thường niên khi đăng ký thẻ VISA HDBank
			span 🛍️ Hoàn tiền lên đến 500K khi thanh toán qua thẻ Vietjet VISA
			span ⭐️ Đăng ký hôm nay - trúng ngay táo xịn. Mở tài khoản 5 phút nhanh chóng
